<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<script src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
	<script src="~/Scripts/ticket-form.js"></script>
	<script src="~/Scripts/sweetalert.min.js"></script>
	<link href="~/Content/sweetalert.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
	<script src="~/signalr/hubs"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top custom-navbar-class">
		<div class="container ">
			<div class="navbar-header">
				@Html.ActionLink("Ticket Print", "TicketInfo", "Home", null, new { @class = "navbar-brand" })
			</div>
		</div>
	</div>

    <div class="container body-content">
        @RenderBody()

		<div class="col-xs-12">
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - Ticket Print Application</p>
			</footer>
		</div>
    </div>

</body>
</html>