
@{
    ViewBag.Title = "DownloadTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<h2>DownloadTicket</h2>

@Html.ActionLink("PDF", "Report", new { id = "PDF" })
@Html.ActionLink("Excel", "Report", new { id = "Excel" })
@Html.ActionLink("Word", "Report", new { id = "Word" })
@Html.ActionLink("Image", "Report", new { id = "Image" })
